/*Footer*/
.footer{
    color: var(--color5);
    width: 100%;
    margin-top: auto;
}

.footer .footer-group1{
    background: var(--color2);
    display: flex;
    justify-content: space-evenly;
}

.footer .footer-box-1{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer .footer-box-2{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-icon{
    background-color: var(--color3);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    /*text-align: center;*/
    justify-content: center; /*Linea agregada*/
}

.footer .footer-icon a{
    color: var(--color5);
}

.footer .footer-icon svg{
    transform: scale(1.7);
}

.footer .footer-icon a:hover{
    color: var(--color9);
}

.footer hr{
    color: var(--color5);
}

.footer .footer-group2{
    background: var(--color1);
    text-align: right;
    color: white;
    padding: 5px;
}

#footer-paragraph-2{
    display: none;
}

@media screen and (max-width: 768px) {
    .footer .footer-group1{
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-box-2{
        flex-direction: row;
        align-items: center;
    }
    
    #footer-paragraph-1{
        display: none;
    }
    
    #footer-paragraph-2{
        display: block;
    }

    .footer .footer-box-2 hr{
        display: none;
    }
}