.forms-container{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
  
.forms-container h1{
    text-align: center;
    font-weight: 700;
}
  
.forms-container form{
    background-color: var(--color8);
    padding: 30px;
    border-radius: 15px;
    /*border: 3px solid red;*/
    width: 80%; /*Ver que show*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.forms{
    /*width: 100%;*/
    max-width: 420px;
    /*border: 3px solid blue;*/
    margin: 10px auto;
}
  
form .forms-group{
    position: relative;
    margin: 10px auto;
}

.forms-radio-group{
    display: flex;
    align-content: center;
    flex-direction: column;
    /*border: 3px solid purple;*/
    padding: 10px;
    color: var(--txtColor2);
}

.forms-radio-group input{
    accent-color: var(--color10);
    margin: 10px auto;
}

input{
    background: none;
    color: var(--txtColor2);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95%;
    border: none;
    border-bottom: 2px solid var(--txtColor1);
}
  
input:focus{
    outline: none;
    color: var(--color11);
}
  
/*label{
    color: var(--txtColor1);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}*/

.forms-label{
    color: var(--txtColor1);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}

/*input:focus ~ label,
input:valid ~ label{
    top: -10px;
    font-size: 12px;
    color: var(--color10);
    text-shadow: 2px 2px 2px var(--color9);
}*/

input:focus ~ .forms-label,
input:valid ~ .forms-label{
    top: -10px;
    font-size: 12px;
    color: var(--color10);
    text-shadow: 2px 2px 2px var(--color9);
}
  
.bar{
    margin: 1px 1px 5px;
    position: relative;
    display: block;
    width: 100%;
}
  
.bar::before{
    content: "";
    height: 3px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, var(--color9), var(--color11));
    transition: 0.3s ease width;
    left: 0;
}
  
input:focus ~ .bar::before{
    width: 102%;
}
  
.forms-container input.btn{
    background-color: var(--color9);
    color: white;
    width: 60%;
    margin: 5px auto;
    border: none;
    border-radius: 5px;
}

/*@media screen and (min-width: 769px) {
    .forms{
        /*width: 100%;
        max-width: 197px;
        /*border: 3px solid orange;
    }
}*/