.forms-container{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.forms-container h1{
    text-align: center;
    font-weight: 700;
    color: var(--color11);
}
  
.forms-container form{
    background-color: var(--color8);
    padding: 30px;
    border-radius: 15px;
    /*border: 3px solid red;*/
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.forms-container.forms-container#forms-log-in-container form{
    width: 30%; 
}

.forms-group#form-forgotten-password{
    display: flex;
    justify-content: right;
    font-size: small;
}

.forms-group#form-forgotten-password a:link{
    color: var(--color10);
}
  
.forms-group#form-forgotten-password a:visited{
    color: var(--color11);
}

.forms{
    /*width: 100%;*/
    max-width: 420px;
    /*border: 3px solid blue;*/
    margin: 10px auto;
}
  
form .forms-group{
    position: relative;
    margin: 10px auto;
}

.forms-radio-group{
    margin: 8px;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--color9);
    opacity: 0.8;
    border-radius: 15px;
}

.forms-radio-subgroup{
    background-color: var(--color8);
    border-radius: 10px;
    margin: 8px;
    padding: 6px;
}

.forms-radio-group input{
    accent-color: var(--color10);
    margin: 10px auto;
}

input{
    background: none;
    color: var(--txtColor2);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 95%;
    border: none;
    border-bottom: 2px solid var(--txtColor1);
}
  
input:focus{
    outline: none;
    color: var(--color11);
}

.forms-label{
    color: var(--txtColor1);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}

input:focus ~ .forms-label,
input:valid ~ .forms-label{
    top: -10px;
    font-size: 16px;
    color: var(--color10);
    text-shadow: 2px 2px 2px var(--color9);
}
  
.bar{
    margin: 1px 1px 5px;
    position: relative;
    display: block;
    width: 100%;
}
  
.bar::before{
    content: "";
    height: 3px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, var(--color9), var(--color11));
    transition: 0.3s ease width;
    left: 0;
}
  
input:focus ~ .bar::before{
    width: 102%;
}
  
.forms-container input.btn{
    background-color: var(--color9);
    color: white;
    width: 60%;
    margin: 5px auto;
    border: none;
    border-radius: 5px;
}

.forms-container input.btnAction{
    background-color: var(--color9) !important;
    color: white !important;
    /*width: 60%;
    margin: 5px auto;*/
    border: none !important;
    border-radius: 5px !important;
    overflow: visible !important;
    padding: 15px;
    margin: 10px auto;
}

@media screen and (max-width: 769px) {
    .forms-container.forms-container#forms-log-in-container form{
        width: 90%; 
    }
}