*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/*Colors definitions*/
:root{
    --color1: #718355;
    --color2: #87986a;
    --color3: #97a97c;
    --color4: #b5c99a;
    --color5: #cfe1b9;
    --color6: #e9f5db;
    --color7: #ffedd8;
    --color8: #e7bc91;
    --color9: #a47148;
    --color10: #6f4518;
    --color11: #583101;
    --color12: #1d332c;
    --XL: 24px;
    --L: 20px;
    --M: 16px;
    --S: 12px;
    --XS: 8px;
    --txtColor1: #49454567;
    --txtColor2: #5e5b5d;
}

body{
    background-color: var(--color7);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /*border: 5px green solid;*/
}

main{
    padding: 90px 20px 10px;
    /*border: 5px purple solid;*/
}

/*Containers*/
.external-container{
    padding: 15px;
    margin: 10px;
    background-color: var(--color8);
    border-radius: 15px;
    display: flex;
    overflow-y: auto;
}

.external-container h1 p{
    color: var(--color11);
}

.external-container img{
    border-radius: 10px;
    width: 180px;
    border: 8px var(--color9) solid;
}

.internal-container{
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .external-container{
        flex-direction: column;
        align-items: center;
    }
}

